In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

%matplotlib inline

In [2]:
df =pd.read_csv('500209.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5296 entries, 0 to 5295
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       5296 non-null   object
 1   Open Price                 5296 non-null   float64
 2   High Price                 5296 non-null   float64
 3   Low Price                  5296 non-null   float64
 4   Close Price                5296 non-null   float64
 5   WAP                        5296 non-null   float64
 6   No.of Shares               5296 non-null   int64
 7   No. of Trades              5296 non-null   int64
 8   Total Turnover (Rs.)       5296 non-null   float64
 9   Deliverable Quantity       4792 non-null   float64
 10  % Deli. Qty to Traded Qty  4792 non-null   float64
 11  Spread High-Low            5296 non-null   float64
 12  Spread Close-Open          5296 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 517.2+ KB

In [3]:
df.Date=pd.to_datetime(df.Date)

In [4]:
df.set_index('Date',inplace=True)
df.head()

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
Date,,,,,,,,,,,,
2021-06-04,1392.00,1396.50,1377.9,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80
2021-06-03,1382.00,1398.65,1377.2,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50
2021-06-02,1378.65,1392.00,1362.2,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10
2021-06-01,1400.00,1400.80,1378.6,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60
2021-05-31,1405.00,1405.00,1383.1,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35

In [5]:
df=df.iloc[::-1]
df['Target']=df['Close Price'].shift(periods=-1)

In [6]:
df.tail()

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Target
Date,,,,,,,,,,,,,
2021-05-31,1405.00,1405.00,1383.1,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35,1387.40
2021-06-01,1400.00,1400.80,1378.6,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60,1379.75
2021-06-02,1378.65,1392.00,1362.2,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10,1389.50
2021-06-03,1382.00,1398.65,1377.2,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50,1385.20
2021-06-04,1392.00,1396.50,1377.9,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80,NaN

In [7]:
df.shape

(5296, 13)

In [8]:
df_m=df

In [9]:
df_m=df_m.dropna()

In [10]:
df_m.shape

(4791, 13)

In [11]:
print(df_m.head())
df_m.tail()

            Open Price  High Price  Low Price  Close Price          WAP  \
Date
2002-02-08      3700.0      3816.0    3675.00      3690.35  3742.030493
2002-02-15      3819.0      3875.0    3815.35      3839.75  3841.530252
2002-02-18      3848.0      3848.0    3705.00      3730.25  3739.254412
2002-02-19      3761.0      3788.0    3683.00      3701.90  3738.977287
2002-02-20      3701.0      3701.0    3630.00      3650.70  3656.909090

            No.of Shares  No. of Trades  Total Turnover (Rs.)  \
Date
2002-02-08        340836          21669          1.275419e+09
2002-02-15        226830          12703          8.713743e+08
2002-02-18        237776          12070          8.891050e+08
2002-02-19        294594          15304          1.101480e+09
2002-02-20        228644          14753          8.361303e+08

            Deliverable Quantity  % Deli. Qty to Traded Qty  Spread High-Low  \
Date
2002-02-08               51044.0                      14.98           141.00
2002-02-15               55589.0                      24.51            59.65
2002-02-18               70159.0                      29.51           143.00
2002-02-19               70812.0                      24.04           105.00
2002-02-20               42834.0                      18.73            71.00

            Spread Close-Open   Target
Date
2002-02-08              -9.65  3735.50
2002-02-15              20.75  3730.25
2002-02-18            -117.75  3701.90
2002-02-19             -59.10  3650.70
2002-02-20             -50.30  3659.60

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Target
Date,,,,,,,,,,,,,
2021-05-28,1411.85,1414.00,1396.35,1404.80,1406.483377,418799,19208,5.890338e+08,238958.0,57.06,17.65,-7.05,1393.65
2021-05-31,1405.00,1405.00,1383.10,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35,1387.40
2021-06-01,1400.00,1400.80,1378.60,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60,1379.75
2021-06-02,1378.65,1392.00,1362.20,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10,1389.50
2021-06-03,1382.00,1398.65,1377.20,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50,1385.20

In [12]:
x_train,x_test,y_train,y_test=train_test_split(df_m.drop(['Target'],axis='columns'),df_m['Target'],test_size=0.1)

In [13]:
model=RandomForestRegressor(n_estimators=500)

In [14]:
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=500)

In [15]:
model.score(x_test,y_test)

0.9973548419372131

In [16]:
#model.predict([[1369.40,1400.00,1397.35,1385.62,505592,22932,700560852,287305,56.83,38.00,27.95]])

In [17]:
model.predict([[1369.40,1400.00,1362.00,1397.35,1385.62,505592,22932,700560852,287305,56.83,38.00,27.95]])

array([1397.9528])

In [18]:
model.predict([[1405.00,1405.00,1383.10,1393.65,1391.98,1009210,12189,1404804081,813022,80.56,21.90,-11.35]])

array([1379.2926])

In [19]:
model.predict([[1382.00,1398.65,1377.20,1389.50,1386.55,243404,12798,337490664,103459,42.50,21.45,7.50]])

array([1384.5498])

In [20]:
df.tail(10)

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Target
Date,,,,,,,,,,,,,
2021-05-24,1358.00,1362.15,1345.25,1348.15,1345.011192,1066338,13715,1.434237e+09,943397.0,88.47,16.90,-9.85,1361.90
2021-05-25,1353.00,1367.50,1353.00,1361.90,1362.200960,420760,18632,5.731597e+08,295633.0,70.26,14.50,8.90,1397.35
2021-05-26,1369.40,1400.00,1362.00,1397.35,1385.624875,505592,22932,7.005609e+08,287305.0,56.83,38.00,27.95,1404.65
2021-05-27,1404.80,1415.50,1391.60,1404.65,1395.273852,1353941,26575,1.889118e+09,1050064.0,77.56,23.90,-0.15,1404.80
2021-05-28,1411.85,1414.00,1396.35,1404.80,1406.483377,418799,19208,5.890338e+08,238958.0,57.06,17.65,-7.05,1393.65
2021-05-31,1405.00,1405.00,1383.10,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35,1387.40
2021-06-01,1400.00,1400.80,1378.60,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60,1379.75
2021-06-02,1378.65,1392.00,1362.20,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10,1389.50
2021-06-03,1382.00,1398.65,1377.20,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50,1385.20
2021-06-04,1392.00,1396.50,1377.90,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80,NaN

In [21]:
model.predict([[1378.65,1392.00,1362.2,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10]])

array([1385.8685])

In [22]:
model.predict([[1382.00,1398.65,1377.20,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50]])

array([1384.5498])

In [23]:
# To predict 5-6-21
model.predict([[1392.00,1396.50,1377.9,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80]])

array([1389.8565])

In [24]:
model.score(x_test,y_test)

0.9973548419372131

In [25]:
pred_y=model.predict(x_test)

In [26]:
mean_squared_error(y_test,pred_y,squared=False)

59.93469014203218

In [27]:
mean_squared_error(y_test,pred_y)

3592.1670824214098