In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

%matplotlib inline

In [2]:
df =pd.read_csv('500209.csv')
df.Date=pd.to_datetime(df.Date)
df.set_index('Date',inplace=True)
df.head()

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
Date,,,,,,,,,,,,
2021-06-04,1392.00,1396.50,1377.9,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80
2021-06-03,1382.00,1398.65,1377.2,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50
2021-06-02,1378.65,1392.00,1362.2,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10
2021-06-01,1400.00,1400.80,1378.6,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60
2021-05-31,1405.00,1405.00,1383.1,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5296 entries, 2021-06-04 to 2000-06-01
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Open Price                 5296 non-null   float64
 1   High Price                 5296 non-null   float64
 2   Low Price                  5296 non-null   float64
 3   Close Price                5296 non-null   float64
 4   WAP                        5296 non-null   float64
 5   No.of Shares               5296 non-null   int64
 6   No. of Trades              5296 non-null   int64
 7   Total Turnover (Rs.)       5296 non-null   float64
 8   Deliverable Quantity       4792 non-null   float64
 9   % Deli. Qty to Traded Qty  4792 non-null   float64
 10  Spread High-Low            5296 non-null   float64
 11  Spread Close-Open          5296 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 537.9 KB

In [4]:
df=df.iloc[::-1]
df['Target']=df['Close Price'].shift(periods=-1)

In [5]:
df.tail()

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Target
Date,,,,,,,,,,,,,
2021-05-31,1405.00,1405.00,1383.1,1393.65,1391.983909,1009210,12189,1.404804e+09,813022.0,80.56,21.90,-11.35,1387.40
2021-06-01,1400.00,1400.80,1378.6,1387.40,1385.129123,184134,7222,2.550494e+08,90643.0,49.23,22.20,-12.60,1379.75
2021-06-02,1378.65,1392.00,1362.2,1379.75,1366.888615,1906584,31599,2.606088e+09,1441943.0,75.63,29.80,1.10,1389.50
2021-06-03,1382.00,1398.65,1377.2,1389.50,1386.545266,243404,12798,3.374907e+08,103459.0,42.50,21.45,7.50,1385.20
2021-06-04,1392.00,1396.50,1377.9,1385.20,1386.142576,108272,4901,1.500804e+08,40390.0,37.30,18.60,-6.80,NaN

In [6]:
df_m=df
df_m=df_m.dropna()

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df_m.drop(['Target'],axis='columns'),df_m['Target'],test_size=0.1)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [9]:
model=SVR(kernel='linear')
model.fit(x_train,y_train)

SVR(kernel='linear')

In [10]:
model.score(x_test,y_test)

0.9976956798675586

In [11]:
pred=model.predict(x_test)

In [12]:
test_e=mean_squared_error(y_test,pred,squared=False)
test_e

54.5798460903725

In [13]:
#plt.plot(y_test,pred)

In [14]:
t_pred=model.predict(x_train)

In [15]:
train_e=mean_squared_error(y_train,t_pred,squared=False)
train_e

94.51736602739251